body{
  font-family: 'Titillium Web', sans-serif;
  background:#191B28;
}

.roulette-wrapper{
  position:relative;
  display:flex;
  justify-content:center;
  width:100%;
  margin:0 auto;
  overflow:hidden;
}

.roulette-wrapper .selector{
  width:3px;
  background:grey;
  left:50%;
  height:100%;
  transform:translate(-50%,0%);
  position:absolute;
  z-index:2;
}

.roulette-wrapper .wheel{
  display:flex;
}

.roulette-wrapper .wheel .row{
  display:flex;
}

/* img{
  height:75px;
  width:75px;
} */
.roulette-wrapper .wheel .row .card .item_bg img{
  height:300px;
  width:300px;
  margin:3px;
  border-radius:8px;
}
.roulette-wrapper .wheel .row .card .vb img{
  height: 23px;
  width: 23px;
  margin-top: 274px;
  border-radius: 8px;
  margin-right: -50px;
  margin-left: -196px;
}
.roulette-wrapper .wheel .row .card{
  height:300px;
  width:300px;
  margin:3px;
  border-radius:8px;
  border-bottom:3px solid rgba(0,0,0,0.2);
  display:flex;
  align-items:center;
  justify-content:center;
}
.roulette-wrapper .wheel .row .card h3{
  margin-left: -170px;
  margin-top: 280px;
  color: white;
}
.roulette-wrapper .wheel .row .card h3{
  margin-bottom: 8px;
  margin-right: -303px;
  margin-left: 3px;
  margin-top: 274px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  text-align: center;
}
.roulette-wrapper .wheel .row .card .rar_null h3{
  background-color: red;
}
.roulette-wrapper .wheel .row .card .line_rar_null{
  width: 100%;
  height: 20px;
  background-color: red;
  margin-left: -3px;
  margin-right: -303px;
  margin-top: 282px;
  margin-bottom: 10px;
  transform: translateY(-100%) skewY(178deg);
  transform-origin: right;
  border-top: 3px solid black;
}
.roulette-wrapper .wheel .row .card .rar_rare h3{
  background-color: blue;
}
.roulette-wrapper .wheel .row .card .line_rar_rare{
  width: 100%;
  height: 20px;
  background-color: blue;
  margin-left: -3px;
  margin-right: -303px;
  margin-top: 282px;
  margin-bottom: 10px;
  transform: translateY(-100%) skewY(178deg);
  transform-origin: right;
  border-top: 3px solid black;
   
}
.roulette-wrapper .wheel .row .card .rar_legendary h3{
  background-color: gold;
}
.roulette-wrapper .wheel .row .card .line_rar_legendary{
  width: 100%;
  height: 20px;
  background-color: gold;
  margin-left: -3px;
  margin-right: -303px;
  margin-top: 282px;
  margin-bottom: 10px;
  transform: translateY(-100%) skewY(178deg);
  transform-origin: right;
  border-top: 3px solid black;
   
}
.roulette-wrapper .wheel .row .card .rar_epic h3{
  background-color: purple;
}
.roulette-wrapper .wheel .row .card .line_rar_epic{
  width: 100%;
  height: 20px;
  background-color: purple;
  margin-left: -3px;
  margin-right: -303px;
  margin-top: 282px;
  margin-bottom: 10px;
  transform: translateY(-100%) skewY(178deg);
  transform-origin: right;
  border-top: 3px solid black;
   
}
.roulette-wrapper .wheel .row .card .rar_uncommon h3{
  background-color: green;
}
.roulette-wrapper .wheel .row .card .line_rar_uncommon{
  width: 100%;
  height: 20px;
  background-color: green;
  margin-left: -3px;
  margin-right: -303px;
  margin-top: 282px;
  margin-bottom: 10px;
  transform: translateY(-100%) skewY(178deg);
  transform-origin: right;
  border-top: 3px solid black;
   
}
.roulette-wrapper .wheel .row .card .rar_common h3{
  background-color: grey;
}
.roulette-wrapper .wheel .row .card .line_rar_common{
  width: 100%;
  height: 20px;
  background-color: grey;
  margin-left: -3px;
  margin-right: -303px;
  margin-top: 282px;
  margin-bottom: 10px;
  transform: translateY(-100%) skewY(178deg);
  transform-origin: right;
  border-top: 3px solid black;
   
}

*{
  box-sizing:border-box;
}
#rart { z-index: 2; }
#vbuks { z-index: 3; }
#line_rar { z-index: 2}
#selector { z-index: 5}